In [0]:
import pandas as pd

###Loading data into Pandas

In [58]:
df = pd.read_csv('pokemon_data.csv')
print(df)

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [3]:
df.head(3)

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]

In [4]:
df.tail(3)

       #                 Name   Type 1  ... Speed  Generation  Legendary
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[3 rows x 12 columns]

In [5]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
df.tail()

       #                 Name   Type 1  ... Speed  Generation  Legendary
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[5 rows x 12 columns]

In [7]:
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [8]:
df.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [10]:
df[['Name','#','HP']]

                      Name    #  HP
0                Bulbasaur    1  45
1                  Ivysaur    2  60
2                 Venusaur    3  80
3    VenusaurMega Venusaur    3  80
4               Charmander    4  39
..                     ...  ...  ..
795                Diancie  719  50
796    DiancieMega Diancie  719  50
797    HoopaHoopa Confined  720  80
798     HoopaHoopa Unbound  720  80
799              Volcanion  721  80

[800 rows x 3 columns]

In [11]:
df.head(4)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False

[4 rows x 12 columns]

In [12]:
df.iloc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [13]:
df.iloc[1:4]

   #                   Name Type 1  ... Speed  Generation  Legendary
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False

[3 rows x 12 columns]

In [14]:
df.loc[1:4]

   #                   Name Type 1  ... Speed  Generation  Legendary
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[4 rows x 12 columns]

In [17]:
df.iloc[4:5]

   #        Name Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
4  4  Charmander   Fire    NaN  ...       50     65           1      False

[1 rows x 12 columns]

In [19]:
df.iloc[4:5,4]

4    39
Name: HP, dtype: int64

In [21]:
df.loc[df['Type 1'] == 'Grass']

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
..   ...                    ...    ...  ...   ...         ...        ...
718  650                Chespin  Grass  ...    38           6      False
719  651              Quilladin  Grass  ...    57           6      False
720  652             Chesnaught  Grass  ...    64           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False

[70 rows x 12 columns]

In [22]:
df.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [23]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [24]:
df.sort_values('Name')

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

In [25]:
df.sort_values(['Name', 'Type 1'],ascending = False)

       #                     Name   Type 1  ... Speed  Generation  Legendary
794  718         Zygarde50% Forme   Dragon  ...    95           6       True
695  634                 Zweilous     Dark  ...    58           5      False
46    41                    Zubat   Poison  ...    55           1      False
631  570                    Zorua     Dark  ...    65           5      False
632  571                  Zoroark     Dark  ...   105           5      False
..   ...                      ...      ...  ...   ...         ...        ...
393  359          AbsolMega Absol     Dark  ...   115           3      False
392  359                    Absol     Dark  ...    75           3      False
68    63                     Abra  Psychic  ...    90           1      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
510  460                Abomasnow    Grass  ...    60           4      False

[800 rows x 12 columns]

In [29]:
df.sort_values(['Name', 'Attack'], ascending = [1,0])    #name will be sorting ascending i.e 1 and attack will sorted descending i.e 0

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

##Making changes to the data

In [30]:
df.head(5)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [0]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

In [32]:
df.head()

   #                   Name Type 1  Type 2  ...  Speed  Generation  Legendary  Total
0  1              Bulbasaur  Grass  Poison  ...     45           1      False    318
1  2                Ivysaur  Grass  Poison  ...     60           1      False    405
2  3               Venusaur  Grass  Poison  ...     80           1      False    525
3  3  VenusaurMega Venusaur  Grass  Poison  ...     80           1      False    625
4  4             Charmander   Fire     NaN  ...     65           1      False    309

[5 rows x 13 columns]

In [60]:
df.sort_values('Total')

       #                   Name   Type 1  ... Generation  Legendary  Total
206  191                Sunkern    Grass  ...          2      False    180
322  298                Azurill   Normal  ...          3      False    190
446  401              Kricketot      Bug  ...          4      False    194
288  265                Wurmple      Bug  ...          3      False    195
16    13                 Weedle      Bug  ...          1      False    195
..   ...                    ...      ...  ...        ...        ...    ...
424  383  GroudonPrimal Groudon   Ground  ...          3       True    770
422  382    KyogrePrimal Kyogre    Water  ...          3       True    770
164  150    MewtwoMega Mewtwo Y  Psychic  ...          1       True    780
426  384  RayquazaMega Rayquaza   Dragon  ...          3       True    780
163  150    MewtwoMega Mewtwo X  Psychic  ...          1       True    780

[800 rows x 13 columns]

In [0]:
df = df.drop(columns = ['Total'])

In [62]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [0]:
df['Total'] = df.iloc[ : ,4 : 10].sum(axis = 1) #1 for horizontal adding aand 0 for vertical

In [64]:
df

       #                   Name   Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur    Grass  ...          1      False    318
1      2                Ivysaur    Grass  ...          1      False    405
2      3               Venusaur    Grass  ...          1      False    525
3      3  VenusaurMega Venusaur    Grass  ...          1      False    625
4      4             Charmander     Fire  ...          1      False    309
..   ...                    ...      ...  ...        ...        ...    ...
795  719                Diancie     Rock  ...          6       True    600
796  719    DiancieMega Diancie     Rock  ...          6       True    700
797  720    HoopaHoopa Confined  Psychic  ...          6       True    600
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    680
799  721              Volcanion     Fire  ...          6       True    600

[800 rows x 13 columns]

In [40]:
df[['Total','HP','Defense','Name','Attack']]

     Total  HP  Defense                   Name  Attack
0      318  45       49              Bulbasaur      49
1      405  60       63                Ivysaur      62
2      525  80       83               Venusaur      82
3      625  80      123  VenusaurMega Venusaur     100
4      309  39       43             Charmander      52
..     ...  ..      ...                    ...     ...
795    600  50      150                Diancie     100
796    700  50      110    DiancieMega Diancie     160
797    600  80       60    HoopaHoopa Confined     110
798    680  80       60     HoopaHoopa Unbound     160
799    600  80      120              Volcanion     110

[800 rows x 5 columns]

In [0]:
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

In [66]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

##Saving new csv

In [0]:
df.to_csv('modified_pokemon.csv', index = False) #index = false to remove indexes

In [0]:
#df.to_excel('modified_pokemon.xlsx, index = False)
#df.to_csv('modified_pokemon.txt',index = False, sep = '\t')

##Filtering Data

In [72]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [73]:
df.loc[df['Type 1'] == 'Grass']

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
..   ...                    ...    ...  ...   ...         ...        ...
718  650                Chespin  Grass  ...    38           6      False
719  651              Quilladin  Grass  ...    57           6      False
720  652             Chesnaught  Grass  ...    64           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False

[70 rows x 13 columns]

In [0]:
newdf = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

In [91]:
newdf

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
49    44                  Gloom  Grass  ...    40           1      False
50    45              Vileplume  Grass  ...    50           1      False
75    69             Bellsprout  Grass  ...    40           1      False
76    70             Weepinbell  Grass  ...    55           1      False
77    71             Victreebel  Grass  ...    70           1      False
344  315                Roselia  Grass  ...    65           3      False
451  406                  Budew  Grass  ...    55           4      False
452  407               Roserade  Grass  ...    90           4      False
651  590                Foongus  Grass  ...    15           5      False
652  591              Amoonguss  Grass  ...    30           5      False

[15 rows x 13 columns]

In [0]:
newdf.reset_index(drop = True, inplace = True ) #drop = True removes previous index

In [93]:
newdf

      #                   Name Type 1  ... Speed  Generation  Legendary
0     1              Bulbasaur  Grass  ...    45           1      False
1     2                Ivysaur  Grass  ...    60           1      False
2     3               Venusaur  Grass  ...    80           1      False
3     3  VenusaurMega Venusaur  Grass  ...    80           1      False
4    43                 Oddish  Grass  ...    30           1      False
5    44                  Gloom  Grass  ...    40           1      False
6    45              Vileplume  Grass  ...    50           1      False
7    69             Bellsprout  Grass  ...    40           1      False
8    70             Weepinbell  Grass  ...    55           1      False
9    71             Victreebel  Grass  ...    70           1      False
10  315                Roselia  Grass  ...    65           3      False
11  406                  Budew  Grass  ...    55           4      False
12  407               Roserade  Grass  ...    90           4      False
13  590                Foongus  Grass  ...    15           5      False
14  591              Amoonguss  Grass  ...    30           5      False

[15 rows x 13 columns]

In [95]:
df.loc[~df['Name'].str.contains('Mega')]

       #                 Name   Type 1  ... Speed  Generation  Legendary
0      1            Bulbasaur    Grass  ...    45           1      False
1      2              Ivysaur    Grass  ...    60           1      False
2      3             Venusaur    Grass  ...    80           1      False
4      4           Charmander     Fire  ...    65           1      False
5      5           Charmeleon     Fire  ...    80           1      False
..   ...                  ...      ...  ...   ...         ...        ...
794  718     Zygarde50% Forme   Dragon  ...    95           6       True
795  719              Diancie     Rock  ...    50           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[751 rows x 13 columns]

In [0]:
import re

In [100]:
df.loc[df['Type 1'].str.contains('fire|grass',flags = re.I, regex = True)] #fire|grass fire oor grass flags = re.I ignore case

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
4      4             Charmander   Fire  ...    65           1      False
..   ...                    ...    ...  ...   ...         ...        ...
735  667                 Litleo   Fire  ...    72           6      False
736  668                 Pyroar   Fire  ...   106           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False
799  721              Volcanion   Fire  ...    70           6       True

[122 rows x 13 columns]

In [101]:
df.loc[df['Name'].str.contains('pi[a:z]*', flags = re.I, regex = True)]

       #                     Name    Type 1  ... Speed  Generation  Legendary
13    10                 Caterpie       Bug  ...    45           1      False
20    16                   Pidgey    Normal  ...    56           1      False
21    17                Pidgeotto    Normal  ...    71           1      False
22    18                  Pidgeot    Normal  ...   101           1      False
23    18      PidgeotMega Pidgeot    Normal  ...   121           1      False
30    25                  Pikachu  Electric  ...    90           1      False
42    37                   Vulpix      Fire  ...    65           1      False
76    70               Weepinbell     Grass  ...    55           1      False
84    78                 Rapidash      Fire  ...   105           1      False
136  127                   Pinsir       Bug  ...    85           1      False
137  127        PinsirMega Pinsir       Bug  ...   105           1      False
181  167                 Spinarak       Bug  ...    30           2      False
186  172                    Pichu  Electric  ...    60           2      False
189  175                   Togepi     Fairy  ...    20           2      False
202  187                   Hoppip     Grass  ...    50           2      False
219  204                   Pineco       Bug  ...    15           2      False
239  221                Piloswine       Ice  ...    50           2      False
266  247                  Pupitar      Rock  ...    51           2      False
345  316                   Gulpin    Poison  ...    40           3      False
357  326                  Grumpig   Psychic  ...    80           3      False
358  327                   Spinda    Normal  ...    60           3      False
359  328                 Trapinch    Ground  ...    10           3      False
390  357                  Tropius     Grass  ...    51           3      False
438  393                   Piplup     Water  ...    40           4      False
463  416                Vespiquen       Bug  ...    40           4      False
488  440                  Happiny    Normal  ...    30           4      False
490  442                Spiritomb     Ghost  ...    35           4      False
501  451                  Skorupi    Poison  ...    65           4      False
502  452                  Drapion    Poison  ...    95           4      False
557  498                    Tepig      Fire  ...    45           5      False
558  499                  Pignite      Fire  ...    55           5      False
578  519                   Pidove    Normal  ...    43           5      False
596  536                Palpitoad     Water  ...    69           5      False
716  648  MeloettaPirouette Forme    Normal  ...   128           5      False
718  650                  Chespin     Grass  ...    38           6      False

[35 rows x 13 columns]

##Conditional Changes

In [0]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'flamer'

In [103]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander   flamer  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion   flamer  ...    70           6       True

[800 rows x 13 columns]

In [0]:
df.loc[df['Type 1'] == 'Rock' , 'Legendary'] = True

In [105]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander   flamer  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion   flamer  ...    70           6       True

[800 rows x 13 columns]

In [0]:
df = pd.read_csv('modified_pokemon.csv')

In [108]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [0]:
df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['test1','test2']

In [114]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80       test1      test2
3      3  VenusaurMega Venusaur    Grass  ...    80       test1      test2
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50       test1      test2
796  719    DiancieMega Diancie     Rock  ...   110       test1      test2
797  720    HoopaHoopa Confined  Psychic  ...    70       test1      test2
798  720     HoopaHoopa Unbound  Psychic  ...    80       test1      test2
799  721              Volcanion     Fire  ...    70       test1      test2

[800 rows x 13 columns]

##Aggregate Statistics (Group by)

In [0]:
df = pd.read_csv('modified_pokemon.csv')

In [117]:
df.groupby(['Type 1']).mean()

                   #       Total         HP  ...       Speed  Generation  Legendary
Type 1                                       ...
Bug       334.492754  378.927536  56.884058  ...   61.681159    3.217391   0.000000
Dark      461.354839  445.741935  66.806452  ...   76.161290    4.032258   0.064516
Dragon    474.375000  550.531250  83.312500  ...   83.031250    3.875000   0.375000
Electric  363.500000  443.409091  59.795455  ...   84.500000    3.272727   0.090909
Fairy     449.529412  413.176471  74.117647  ...   48.588235    4.117647   0.058824
Fighting  363.851852  416.444444  69.851852  ...   66.074074    3.370370   0.000000
Fire      327.403846  458.076923  69.903846  ...   74.442308    3.211538   0.096154
Flying    677.750000  485.000000  70.750000  ...  102.500000    5.500000   0.500000
Ghost     486.500000  439.562500  64.437500  ...   64.343750    4.187500   0.062500
Grass     344.871429  421.142857  67.271429  ...   61.928571    3.357143   0.042857
Ground    356.281250  437.500000  73.781250  ...   63.906250    3.156250   0.125000
Ice       423.541667  433.458333  72.000000  ...   63.458333    3.541667   0.083333
Normal    319.173469  401.683673  77.275510  ...   71.551020    3.051020   0.020408
Poison    251.785714  399.142857  67.250000  ...   63.571429    2.535714   0.000000
Psychic   380.807018  475.947368  70.631579  ...   81.491228    3.385965   0.245614
Rock      392.727273  453.750000  65.363636  ...   55.909091    3.454545   0.090909
Steel     442.851852  487.703704  65.222222  ...   55.259259    3.851852   0.148148
Water     303.089286  430.455357  72.062500  ...   65.964286    2.857143   0.035714

[18 rows x 10 columns]

In [120]:
df.groupby(['Type 2']).mean().sort_values('HP')

                   #       Total         HP  ...      Speed  Generation  Legendary
Type 2                                       ...
Bug       382.000000  393.333333  53.333333  ...  61.666667    3.333333   0.000000
Poison    169.970588  396.500000  58.764706  ...  66.647059    1.970588   0.000000
Ghost     551.714286  430.714286  59.142857  ...  53.857143    4.785714   0.071429
Grass     505.400000  408.920000  62.640000  ...  57.320000    4.480000   0.000000
Water     400.000000  418.214286  62.714286  ...  57.142857    3.428571   0.071429
Normal    681.000000  411.500000  63.500000  ...  89.250000    6.000000   0.000000
Fairy     379.043478  417.956522  64.304348  ...  61.217391    3.565217   0.086957
Steel     435.636364  485.227273  64.636364  ...  59.363636    3.818182   0.045455
Rock      347.785714  434.642857  68.071429  ...  36.000000    3.142857   0.000000
Fire      481.833333  506.250000  71.250000  ...  79.666667    4.000000   0.250000
Flying    331.103093  452.546392  71.391753  ...  85.721649    3.072165   0.134021
Psychic   337.151515  479.060606  72.212121  ...  69.484848    2.939394   0.151515
Dark      413.850000  484.400000  75.550000  ...  75.350000    3.750000   0.050000
Ground    307.600000  444.342857  77.228571  ...  54.657143    2.942857   0.028571
Fighting  438.192308  525.846154  79.461538  ...  87.384615    3.923077   0.153846
Dragon    482.555556  526.166667  82.166667  ...  80.555556    4.166667   0.222222
Electric  465.666667  455.333333  88.166667  ...  71.500000    4.000000   0.166667
Ice       441.285714  525.714286  90.000000  ...  74.642857    3.714286   0.214286

[18 rows x 10 columns]

In [0]:
#sum mean count

In [123]:
df['count'] = 1
df

       #                   Name   Type 1  ... Generation  Legendary  count
0      1              Bulbasaur    Grass  ...          1      False      1
1      2                Ivysaur    Grass  ...          1      False      1
2      3               Venusaur    Grass  ...          1      False      1
3      3  VenusaurMega Venusaur    Grass  ...          1      False      1
4      4             Charmander     Fire  ...          1      False      1
..   ...                    ...      ...  ...        ...        ...    ...
795  719                Diancie     Rock  ...          6       True      1
796  719    DiancieMega Diancie     Rock  ...          6       True      1
797  720    HoopaHoopa Confined  Psychic  ...          6       True      1
798  720     HoopaHoopa Unbound  Psychic  ...          6       True      1
799  721              Volcanion     Fire  ...          6       True      1

[800 rows x 14 columns]

In [125]:
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [126]:
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

##Working with large amount of data

In [127]:
for df in pd.read_csv('modified_pokemon.csv', chunksize = 5):
  print(df)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]
   #                       Name Type 1  ... Speed  Generation  Legendary
5  5                 Charmeleon   Fire  ...    80           1      False
6  6                  Charizard   Fire  ...   100           1      False
7  6  CharizardMega Charizard X   Fire  ...   100           1      False
8  6  CharizardMega Charizard Y   Fire  ...   100           1      False
9  7                   Squirtle  Water  ...    43           1      False

[5 rows x 13 columns]
     #                     Name Type 1  ...  Speed  Generation  Legendary
10   8                Wartortle  Water  ...     58           1      False
11   9                Blastoise  Water  ...     78           1      False
12   9  BlastoiseMega Blastoise  Water  ...     78           1      False
13  10                 Caterpie    Bug  ...     45           1      False
14  11                  Metapod    Bug  ...     30           1      False

[5 rows x 13 columns]
     #                   Name Type 1  ... Speed  Generation  Legendary
15  12             Butterfree    Bug  ...    70           1      False
16  13                 Weedle    Bug  ...    50           1      False
17  14                 Kakuna    Bug  ...    35           1      False
18  15               Beedrill    Bug  ...    75           1      False
19  15  BeedrillMega Beedrill    Bug  ...   145           1      False

[5 rows x 13 columns]
     #                 Name  Type 1  ... Speed  Generation  Legendary
20  16               Pidgey  Normal  ...    56           1      False
21  17            Pidgeotto  Normal  ...    71           1      False
22  18              Pidgeot  Normal  ...   101           1      False
23  18  PidgeotMega Pidgeot  Normal  ...   121           1      False
24  19              Rattata  Normal  ...    72           1      False

[5 rows x 13 columns]
     #      Name  Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
25  20  Raticate  Normal     NaN  ...       70     97           1      False
26  21   Spearow  Normal  Flying  ...       31     70           1      False
27  22    Fearow  Normal  Flying  ...       61    100           1      False
28  23     Ekans  Poison     NaN  ...       54     55           1      False
29  24     Arbok  Poison     NaN  ...       79     80           1      False

[5 rows x 13 columns]
     #              Name    Type 1  ...  Speed  Generation  Legendary
30  25           Pikachu  Electric  ...     90           1      False
31  26            Raichu  Electric  ...    110           1      False
32  27         Sandshrew    Ground  ...     40           1      False
33  28         Sandslash    Ground  ...     65           1      False
34  29  Nidoran (Female)    Poison  ...     41           1      False

[5 rows x 13 columns]
     #            Name  Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
35  30        Nidorina  Poison     NaN  ...       55     56           1      False
36  31       Nidoqueen  Poison  Ground  ...       85     76           1      False
37  32  Nidoran (Male)  Poison     NaN  ...       40     50           1      False
38  33        Nidorino  Poison     NaN  ...       55     65           1      False
39  34        Nidoking  Poison  Ground  ...       75     85           1      False

[5 rows x 13 columns]
     #        Name  Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
40  35    Clefairy   Fairy    NaN  ...       65     35           1      False
41  36    Clefable   Fairy    NaN  ...       90     60           1      False
42  37      Vulpix    Fire    NaN  ...       65     65           1      False
43  38   Ninetales    Fire    NaN  ...      100    100           1      False
44  39  Jigglypuff  Normal  Fairy  ...       25     20           1      False

[5 rows x 13 columns]
     #        Name  Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
45  40  Wigglytuff  Normal   Fairy  ...       50     45           1      False
46  41       Zubat  Poison  Flying  ...       40     55           1      False
47  42      Golbat  Poison  Flying  ...       75     90           1      False
48  43      Oddish   Grass  Poison  ...       65     30           1      False
49  44       Gloom   Grass  Poison  ...       75     40           1      False

[5 rows x 13 columns]
     #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
50  45  Vileplume  Grass  Poison  ...       90     50           1      False
51  46      Paras    Bug   Grass  ...       55     25           1      False
52  47   Parasect    Bug   Grass  ...       80     30           1      False
53  48    Venonat    Bug  Poison  ...       55     45           1      False
54  49   Venomoth    Bug  Poison  ...       75     90           1      False

[5 rows x 13 columns]
     #     Name  Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
55  50  Diglett  Ground     NaN  ...       45     95           1      False
56  51  Dugtrio  Ground     NaN  ...       70    120           1      False
57  52   Meowth  Normal     NaN  ...       40     90           1      False
58  53  Persian  Normal     NaN  ...       65    115           1      False
59  54  Psyduck   Water     NaN  ...       50     55           1      False

[5 rows x 13 columns]
     #       Name    Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
60  55    Golduck     Water     NaN  ...       80     85           1      False
61  56     Mankey  Fighting     NaN  ...       45     70           1      False
62  57   Primeape  Fighting     NaN  ...       70     95           1      False
63  58  Growlithe      Fire     NaN  ...       50     60           1      False
64  59   Arcanine      Fire     NaN  ...       80     95           1      False

[5 rows x 13 columns]
     #       Name   Type 1    Type 2  ...  Sp. Def  Speed  Generation  Legendary
65  60    Poliwag    Water       NaN  ...       40     90           1      False
66  61  Poliwhirl    Water       NaN  ...       50     90           1      False
67  62  Poliwrath    Water  Fighting  ...       90     70           1      False
68  63       Abra  Psychic       NaN  ...       55     90           1      False
69  64    Kadabra  Psychic       NaN  ...       70    105           1      False

[5 rows x 13 columns]
     #                   Name    Type 1  ...  Speed  Generation  Legendary
70  65               Alakazam   Psychic  ...    120           1      False
71  65  AlakazamMega Alakazam   Psychic  ...    150           1      False
72  66                 Machop  Fighting  ...     35           1      False
73  67                Machoke  Fighting  ...     45           1      False
74  68                Machamp  Fighting  ...     55           1      False

[5 rows x 13 columns]
     #        Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
75  69  Bellsprout  Grass  Poison  ...       30     40           1      False
76  70  Weepinbell  Grass  Poison  ...       45     55           1      False
77  71  Victreebel  Grass  Poison  ...       70     70           1      False
78  72   Tentacool  Water  Poison  ...      100     70           1      False
79  73  Tentacruel  Water  Poison  ...      120    100           1      False

[5 rows x 13 columns]
     #      Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
80  74   Geodude   Rock  Ground  ...       30     20           1      False
81  75  Graveler   Rock  Ground  ...       45     35           1      False
82  76     Golem   Rock  Ground  ...       65     45           1      False
83  77    Ponyta   Fire     NaN  ...       65     90           1      False
84  78  Rapidash   Fire     NaN  ...       80    105           1      False

[5 rows x 13 columns]
     #                 Name    Type 1  ... Speed  Generation  Legendary
85  79             Slowpoke     Water  ...    15           1      False
86  80              Slowbro     Water  ...    30           1      False
87  80  SlowbroMega Slowbro     Water  ...    30           1      False
88  81            Magnemite  Electric  ...    45           1      False
89  82             Magneton  Electric  ...    70           1      False

[5 rows x 13 columns]
     #        Name  Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
90  83  Farfetch'd  Normal  Flying  ...       62     60           1      False
91  84       Doduo  Normal  Flying  ...       35     75           1      False
92  85      Dodrio  Normal  Flying  ...       60    100           1      False
93  86        Seel   Water     NaN  ...       70     45           1      False
94  87     Dewgong   Water     Ice  ...       95     70           1      False

[5 rows x 13 columns]
     #      Name  Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
95  88    Grimer  Poison     NaN  ...       50     25           1      False
96  89       Muk  Poison     NaN  ...      100     50           1      False
97  90  Shellder   Water     NaN  ...       25     40           1      False
98  91  Cloyster   Water     Ice  ...       45     70           1      False
99  92    Gastly   Ghost  Poison  ...       35     80           1      False

[5 rows x 13 columns]
      #               Name   Type 1  ... Speed  Generation  Legendary
100  93            Haunter    Ghost  ...    95           1      False
101  94             Gengar    Ghost  ...   110           1      False
102  94  GengarMega Gengar    Ghost  ...   130           1      False
103  95               Onix     Rock  ...    70           1      False
104  96            Drowzee  Psychic  ...    42           1      False

[5 rows x 13 columns]
       #       Name    Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
105   97      Hypno   Psychic     NaN  ...      115     67           1      False
106   98     Krabby     Water     NaN  ...       25     50           1      False
107   99    Kingler     Water     NaN  ...       50     75           1      False
108  100    Voltorb  Electric     NaN  ...       55    100           1      False
109  101  Electrode  Electric     NaN  ...       80    140           1      False

[5 rows x 13 columns]
       #       Name    Type 1   Type 2  ...  Sp. Def  Speed  Generation  Legendary
110  102  Exeggcute     Grass  Psychic  ...       45     40           1      False
111  103  Exeggutor     Grass  Psychic  ...       65     55           1      False
112  104     Cubone    Ground      NaN  ...       50     35           1      False
113  105    Marowak    Ground      NaN  ...       80     45           1      False
114  106  Hitmonlee  Fighting      NaN  ...      110     87           1      False

[5 rows x 13 columns]
       #        Name    Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
115  107  Hitmonchan  Fighting    NaN  ...      110     76           1      False
116  108   Lickitung    Normal    NaN  ...       75     30           1      False
117  109     Koffing    Poison    NaN  ...       45     35           1      False
118  110     Weezing    Poison    NaN  ...       70     60           1      False
119  111     Rhyhorn    Ground   Rock  ...       30     25           1      False

[5 rows x 13 columns]
       #                       Name  Type 1  ... Speed  Generation  Legendary
120  112                     Rhydon  Ground  ...    40           1      False
121  113                    Chansey  Normal  ...    50           1      False
122  114                    Tangela   Grass  ...    60           1      False
123  115                 Kangaskhan  Normal  ...    90           1      False
124  115  KangaskhanMega Kangaskhan  Normal  ...   100           1      False

[5 rows x 13 columns]
       #     Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
125  116   Horsea  Water     NaN  ...       25     60           1      False
126  117   Seadra  Water     NaN  ...       45     85           1      False
127  118  Goldeen  Water     NaN  ...       50     63           1      False
128  119  Seaking  Water     NaN  ...       80     68           1      False
129  120   Staryu  Water     NaN  ...       55     85           1      False

[5 rows x 13 columns]
       #        Name    Type 1   Type 2  ...  Sp. Def  Speed  Generation  Legendary
130  121     Starmie     Water  Psychic  ...       85    115           1      False
131  122    Mr. Mime   Psychic    Fairy  ...      120     90           1      False
132  123     Scyther       Bug   Flying  ...       80    105           1      False
133  124        Jynx       Ice  Psychic  ...       95     95           1      False
134  125  Electabuzz  Electric      NaN  ...       85    105           1      False

[5 rows x 13 columns]
       #               Name  Type 1  ... Speed  Generation  Legendary
135  126             Magmar    Fire  ...    93           1      False
136  127             Pinsir     Bug  ...    85           1      False
137  127  PinsirMega Pinsir     Bug  ...   105           1      False
138  128             Tauros  Normal  ...   110           1      False
139  129           Magikarp   Water  ...    80           1      False

[5 rows x 13 columns]
       #                   Name  Type 1  ... Speed  Generation  Legendary
140  130               Gyarados   Water  ...    81           1      False
141  130  GyaradosMega Gyarados   Water  ...    81           1      False
142  131                 Lapras   Water  ...    60           1      False
143  132                  Ditto  Normal  ...    48           1      False
144  133                  Eevee  Normal  ...    55           1      False

[5 rows x 13 columns]
       #      Name    Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
145  134  Vaporeon     Water    NaN  ...       95     65           1      False
146  135   Jolteon  Electric    NaN  ...       95    130           1      False
147  136   Flareon      Fire    NaN  ...      110     65           1      False
148  137   Porygon    Normal    NaN  ...       75     40           1      False
149  138   Omanyte      Rock  Water  ...       55     35           1      False

[5 rows x 13 columns]
       #                       Name Type 1  ... Speed  Generation  Legendary
150  139                    Omastar   Rock  ...    55           1      False
151  140                     Kabuto   Rock  ...    55           1      False
152  141                   Kabutops   Rock  ...    80           1      False
153  142                 Aerodactyl   Rock  ...   130           1      False
154  142  AerodactylMega Aerodactyl   Rock  ...   150           1      False

[5 rows x 13 columns]
       #      Name    Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
155  143   Snorlax    Normal     NaN  ...      110     30           1      False
156  144  Articuno       Ice  Flying  ...      125     85           1       True
157  145    Zapdos  Electric  Flying  ...       90    100           1       True
158  146   Moltres      Fire  Flying  ...       85     90           1       True
159  147   Dratini    Dragon     NaN  ...       50     50           1      False

[5 rows x 13 columns]
       #                 Name   Type 1  ... Speed  Generation  Legendary
160  148            Dragonair   Dragon  ...    70           1      False
161  149            Dragonite   Dragon  ...    80           1      False
162  150               Mewtwo  Psychic  ...   130           1       True
163  150  MewtwoMega Mewtwo X  Psychic  ...   130           1       True
164  150  MewtwoMega Mewtwo Y  Psychic  ...   140           1       True

[5 rows x 13 columns]
       #       Name   Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
165  151        Mew  Psychic     NaN  ...      100    100           1      False
166  152  Chikorita    Grass     NaN  ...       65     45           2      False
167  153    Bayleef    Grass     NaN  ...       80     60           2      False
168  154   Meganium    Grass     NaN  ...      100     80           2      False
169  155  Cyndaquil     Fire     NaN  ...       50     65           2      False

[5 rows x 13 columns]
       #        Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
170  156     Quilava   Fire     NaN  ...       65     80           2      False
171  157  Typhlosion   Fire     NaN  ...       85    100           2      False
172  158    Totodile  Water     NaN  ...       48     43           2      False
173  159    Croconaw  Water     NaN  ...       63     58           2      False
174  160  Feraligatr  Water     NaN  ...       83     78           2      False

[5 rows x 13 columns]
       #      Name  Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
175  161   Sentret  Normal     NaN  ...       45     20           2      False
176  162    Furret  Normal     NaN  ...       55     90           2      False
177  163  Hoothoot  Normal  Flying  ...       56     50           2      False
178  164   Noctowl  Normal  Flying  ...       96     70           2      False
179  165    Ledyba     Bug  Flying  ...       80     55           2      False

[5 rows x 13 columns]
       #      Name  Type 1    Type 2  ...  Sp. Def  Speed  Generation  Legendary
180  166    Ledian     Bug    Flying  ...      110     85           2      False
181  167  Spinarak     Bug    Poison  ...       40     30           2      False
182  168   Ariados     Bug    Poison  ...       60     40           2      False
183  169    Crobat  Poison    Flying  ...       80    130           2      False
184  170  Chinchou   Water  Electric  ...       56     67           2      False

[5 rows x 13 columns]
       #       Name    Type 1    Type 2  ...  Sp. Def  Speed  Generation  Legendary
185  171    Lanturn     Water  Electric  ...       76     67           2      False
186  172      Pichu  Electric       NaN  ...       35     60           2      False
187  173     Cleffa     Fairy       NaN  ...       55     15           2      False
188  174  Igglybuff    Normal     Fairy  ...       20     15           2      False
189  175     Togepi     Fairy       NaN  ...       65     20           2      False

[5 rows x 13 columns]
       #     Name    Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
190  176  Togetic     Fairy  Flying  ...      105     40           2      False
191  177     Natu   Psychic  Flying  ...       45     70           2      False
192  178     Xatu   Psychic  Flying  ...       70     95           2      False
193  179   Mareep  Electric     NaN  ...       45     35           2      False
194  180  Flaaffy  Electric     NaN  ...       60     45           2      False

[5 rows x 13 columns]
       #                   Name    Type 1  ... Speed  Generation  Legendary
195  181               Ampharos  Electric  ...    55           2      False
196  181  AmpharosMega Ampharos  Electric  ...    45           2      False
197  182              Bellossom     Grass  ...    50           2      False
198  183                 Marill     Water  ...    40           2      False
199  184              Azumarill     Water  ...    50           2      False

[5 rows x 13 columns]
       #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
200  185  Sudowoodo   Rock     NaN  ...       65     30           2      False
201  186   Politoed  Water     NaN  ...      100     70           2      False
202  187     Hoppip  Grass  Flying  ...       55     50           2      False
203  188   Skiploom  Grass  Flying  ...       65     80           2      False
204  189   Jumpluff  Grass  Flying  ...       95    110           2      False

[5 rows x 13 columns]